<div class="product-details-container container mt-5 py-5">
  <div class="row">
    <div class="col-md-6">
      <img
        [src]="product?.images"
        alt="{{ product?.title }}"
        class="img-fluid rounded shadow"
      />
    </div>

    <div class="col-md-6">
      <h1>{{ product?.title }}</h1>
      <p class="text-muted">{{ product?.description }}</p>
      <h3 class="text-success">{{ product?.price }}$</h3>

      <!-- Rating -->
      <div class="rating my-3">
        <app-rating [rating]="product?.rating ?? 0"></app-rating>
        <span class="ms-2">({{ product?.rating ?? "N/A" }} / 5)</span>
      </div>

      <!-- Stock status -->
      <p class="product-description">{{ product?.description }}</p>
      <div class="d-flex flex-row flex-wrap align-content-center">
        <span
          class="text-white h-25 p-2 my-auto mt-4 pb-4 rounded-1 me-2"
          [ngClass]="toNumber(product?.stock) > 0 ? 'bg-success' : 'bg-danger'"
        >
          {{ toNumber(product?.stock) > 0 ? "In Stock" : "Out of Stock" }}
        </span>

        <button
          class="btn btn-primary mt-4"
          [disabled]="toNumber(product?.stock) <= 0"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
